#similipopup {
  position : fixed;
  display : none;
  left : 45%;
  margin-left : -150px;
  width : 430px;
  top : 9%;
  background : #50423f;
  border : 1px solid #f05f40;
  padding : 40px;
  z-index:2;
}

#divbody
{
  right : 0px;
  top : 0px;
  position : fixed;
  background-color : rgba(0, 0, 0, 0.7);
  z-index : 1;
  padding : 100%;
}
