

#divbody
{
  right : 0px;
  top : 0px;
  position : fixed;
  background-color : rgba(0, 0, 0, 0.7);
  z-index : 1;
  padding-left: 50px;
  padding-right: 1200px;
  padding-top: 50px;
  padding-bottom: 1200px;
}

#divpop
{
  z-index: 2;
  position: relative;
  left: 500px;
  top : 100px;
}
