.listeEtoile ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listeEtoile ul li {
  display:inline-block;
  width: 16px;
  text-align: left;
  list-style-type: none;
}
.listeEtoile ul li img {
  border: 0;
  margin: 0;
  padding: 0;
}
#tableau-sondage{
  font-family:verdana;
  font-size:12px;
}
#tableau-sondage th{
  font-size:13px;
  border:solid 1px black;
  padding:8px;
  cursor:default;
}
#tableau-sondage td{
  border:solid 1px black;
  padding:12px 3px;
  text-align:center;
}
